<h1 class="title is-3 ml-5">Your Shopping Cart</h1>
<% if current_cart.cart_items.any? %>
<div class="columns">
  <div class="cart-container">
  <div class="column">
  <table class="table is-fullwidth is-striped ml-5">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
    <tbody>
      <% current_cart.cart_items.each do |item| %>
        <tr>
          <td>
            <%= form_with model: item, method: :delete, local: true do |form| %>
              <%= button_tag type: "submit", class: "button mt-5 is-danger is-light is-small" do %>
                <i class="fas fa-trash"></i>
              <% end %>
            <% end %>
          </td>
          <td>
            <img src="<%= item.product.product_img %>" style="width: 75px; height: 75px; object-fit: cover;">
          </td>
          <td><%= item.product.product_name %></td>
          <td>$<%= item.product.product_price %></td>
          <td>
            <%=form_with model: item, method: :patch, local: true do |form|%>
            <%=form.text_field :quantity, class: "input", style: "width: 30%"%>
            <%= button_tag type: "submit", class: "button mt-2 ml-3 is-small is-success is-light" do %>
              <i class="fas fa-check"></i>
            <% end %>
          <%end%>
        </tr>
      <% end %>
    </tbody>
</table>
    <div>
      <% if current_cart.cart_items.size == 1 %>
        <p class="ml-5  is-size-6 has-text-weight-bold has-text-white">Subtotal:
        <span class="product-subtotal is-size-6 has-text-weight-normal has-text-white"><%= current_cart.cart_items.first.subtotal %></span></p>
      <% elsif current_cart.cart_items.size > 1 %>
        <p class="ml-5  is-size-6 has-text-weight-bold has-text-white">
          Subtotal:
        <span class="product-subtotal is-size-6 has-text-weight-normal has-text-white"><%= current_cart.cart_items.sum(&:subtotal) %></span>
        </p>
      <% end %>
    </div>
    <div id="tax-rates">

    </div>
  </div>
</div>
<div class="column ml-5">
  <h2 class="title is-4 ml-5">Checkout</h2>
  <%= form_with model: @address, local: true do |form| %>
  <div class="field">
    <%= form.label :street %>
    <div class="control">
      <%= form.text_field :street, class: "input mt-3" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :city %>
    <div class="control">
      <%= form.text_field :city, class: "input mt-3" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :postal_code, "Postal Code" %>
    <div class="control">
      <%= form.text_field :postal_code, class: "input mt-3" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :country %>
    <div class="control">
      <%= form.text_field :country, class: "input mt-3" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :province_id, "Province" %>
  </div>

<div class="dropdown" id="provinceDropdown">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu-province">
      <span>Choose a province</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu-province" role="menu">
    <div class="dropdown-content">
      <% Province.all.each do |province| %>
        <a href="#" class="dropdown-item" data-id="<%= province.id %>"><%= province.province_name %></a>
      <% end %>
    </div>
  </div>
</div>
</div>
<%end%>
</div>
</div>
<% else %>
  <p class="ml-5 is-size-4">Your cart is empty.</p>
<% end %>
