<% content_for :title, "Products" %>
<h1 class="title is-2 has-text-centered has-text-black">Our Products</h1>

<!-- Search Form -->
<%= search_form_for @q, url: products_path, method: :get do |f| %>
<div class="is-flex is-justify-content-right">
    <div class="field has-addons mb-5 mr-5">
      <div class="dropdown" id="myDropdown">
        <div class="dropdown-trigger">
          <div class="control">
            <button type="button" class="input has-text-centered" aria-haspopup="true" aria-controls="dropdown-menu">
              <% if params.dig(:q, :category_category_name_eq).present? %>
                <span class="is-capitalized"><%= params[:q][:category_category_name_eq] %></span>
              <% else %>
                <span>Filter By</span>
              <% end %>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="select mr-3">
            <%=  f.select :category_category_name_eq,
                options_for_select(Category.pluck(:category_name).uniq, params.dig(:q, :category_category_name_eq)),
                { include_blank: "Select a Category" },
                class: "select is-rounded" %>
          </div>
          <div class="select mr-3">
            <%= select_tag :sort,
                  options_for_select(["Newest Products", "Recently Updated"], params[:sort]),
                  include_blank: "Sort by Relevance" %>
          </div>
        </div>
      </div>
      <div class="control">
        <%= f.text_field :product_name_or_product_description_cont, class: "input", placeholder: "Product Search" %>
      </div>
      <div class="control">
        <%= f.submit "Search", class: "button is-info" %>
      </div>
    </div>
  </div>
<%end%>
<body style="height: 100vh;" class="has-background-light">
  <% if params[:q].present? %>
    <%= link_to "< All Products", products_path, class: "ml-5 mb-5 has-text-info has-text-weight-bold is-size-5", style: "text-decoration: none;"%>
  <% end %>
  <% if @products.any?%>
  <section class="section has-background-light">
    <p class="title is-2 is-family-code has-text-dark">Browse By:</p>
    <div class="mb-5">
      <%@categories.each do |category|%>
        <li style="list-style-type: none;" class="is-size-5 has-text-info is-capitalized mr-5">
        <%=link_to category, products_path(q: {category_category_name_eq: "#{category}"})%></li>
      <%end%>
    </div>
    <div class="columns is-multiline is-variable is-justify-content-center">
        <%@products.each do |product|%>
        <div class="column is-12-mobile is-6-tablet is-3-desktop">
          <div style ="border: 1px solid #000; border-radius: 10px;"class="box has-text-centered has-background-light">
            <img style="width: 180px; height: 280px; object-fit: cover;"
            src="<%=product.product_img%>"
            alt="<%=product.product_name%>">
            <p class="is-size-5 has-text-weight-bold is-family-code"><%=link_to product.product_name, product,
            class: "has-text-black no-underline"%></p>
            <p style="font-size: 15px; "class="has-text-weight-bold has-text-black is-family-sans-serif">$<%=product.product_price%></p>
          </div>
        </div>
        <%end%>
    </div>
  </section>
  <%else%>
  <section class="section">
    <p style="color: red;" class="title is-2 has-text-centered is-family-sans-serif mt-5">No products found matching your search.</p>
  </section>
  <%end%>

  <!-- Pagination -->
  <%if @products.total_count > 15%>
    <div class="pagination is-flex is-justify-content-center mt-5 mb-5">
      <%= paginate @products %>
    </div>
  <%end%>
</body>

