<%content_for(:html_title){@product.product_name}%>
<h1 class="title is-2 ml-5 has-text-dark"><%=@product.product_name%></h1>
<body style="height: 100vh;" class="has-background-light">
  <div class="columns">
    <div class="column is-flex">
      <img style="width: 300px; height: 400px; object-fit: cover;" class="ml-5" src="<%=@product.product_img%>" alt="
      <%=@product.product_name%>">
      <li style="width: 50%; list-style-type: none;" class="block is-family-code has-text-dark ml-5 is-size-5">
      <%=@product.product_description%></li>
    </div>
  </div>
  <li style="width: 80%; list-style-type: none;" class="block is-family-code has-text-dark ml-5 is-size-5">
    Price: $<%=@product.product_price%></li>
  <button class="button is-primary ml-5">Add To Cart</button>
</body>

