<nav class="navbar is-link mb-4" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item has-text-weight-bold is-family-code">Ecommerce Project</a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Products", "/products", class: "navbar-item has-text-weight-bold is-family-code" %>

      <%= link_to "About", "/about", class: "navbar-item has-text-weight-bold is-family-code" %>
    </div>
    <div class="navbar-end">
      <%= link_to "🛒", "/cart ", class: "navbar-item has-text-weight-bold is-family-code" %>

      <%if user_signed_in?%>
      <%= link_to 'Account', user_path(current_user), class: "navbar-item has-text-weight-bold is-family-code"%>

      <%= button_to 'Logout', destroy_user_session_path, method: :delete, form: { class: "navbar-item m-0 p-0" },
      class: "navbar-item has-text-weight-bold is-family-code" %>

      <%else%>
      <%= link_to 'Sign up', new_user_registration_path, class: "navbar-item has-text-weight-bold is-family-code"%>

      <%= link_to 'Login', new_user_session_path, class: "navbar-item has-text-weight-bold is-family-code"%>
      <%end%>
    </div>
  </div>
  </div>
</nav>